html, body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(12px + 0.8vw);
    height: 100%;   
    margin: 0;             
    display: flex;         
    flex-direction: column;
}

main {
    flex: 1;               
}

footer {
    
    background-color: #0c1445;
   padding: 2vw 0 5vw 2vw;
   color: white;
}


a{
    text-decoration: none;
    color: black;
}

/* TOPO */

header{
    padding: 2vw 10vw 1vw 10vw;
    background-color: #020f3d ;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header nav h1 a{
    font-size: 1.5rem;  
    font-weight: bold;
    color: black;
}
header nav ul{
    display: flex;
    margin: 0 10px 0 10px;
}
header nav ul li{
    padding: 0 10px 0 10px;
    font-size: 26px;
    
}
header nav:hover{
    color: midnightblue;
}
header nav ul li ul li{
    display: none;
}
header a {
  background-color: transparent;
  transition: background-color 0.5s ease;
  padding: 5px;
  border-radius: 4px;
}

header a:hover {
  background-color: midnightblue;
  color: #00a7f5; 
}
header nav ul li a {
    color: white;
}

/* Habitos saudaveis*/
section.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
      background-color: rgb(128, 128, 255);
    color: midnightblue; 
    font-weight: bold;  
    margin: 3vw;
    padding: 3vw;
    border-radius: 10px;
}
section.imagens {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;         
}
/* lista */


section.lista ol li h3 {
    font-size: 1.5rem;
    padding: 1vw ;
    background-color: #f0f9ff;
}
main section.lista ol li p {
    text-align: center;
    background-color: #def2ff;
    padding: 2vw;
    border-radius: 10px;
}

section.lista ol{
    margin: 5vw;
}

main .lista ol li a {
  background-color: transparent;
  transition: background 0.3s ease;
  padding: 5px;
  border-radius: 4px;
  background-color: #1B5A81;
  color: white;
}

main .lista ol li a:hover {
  background-color: #00a7f5; 
}


