
html, body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(12px + 0.8vw);
    height: 100%;   
    margin: 0;             
    display: flex;         
    flex-direction: column;
}

main {
    flex: 1;               
}

a{
    text-decoration: none;
    color: black;
}

/* TOPO */

header{
    padding: 2vw 10vw 1vw 10vw;
    background-color: #020F3D
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header nav h1 a{
    font-size: 1.5rem;  
    font-weight: bold;
    color: black;
}
header nav ul{
    display: flex;
    margin: 0 10px 0 10px;
}
header nav ul li{
    padding: 0 10px 0 10px;
    font-size: 26px;
}
header nav:hover{
    color: midnightblue;
}
header nav ul li ul li{
    display: none;
}

header a {
  background-color: transparent;
  transition: background-color 0.5s ease;
  padding: 5px;
  border-radius: 4px;
}

header a:hover {
  background-color: midnightblue;
  color: #00a7f5; 
}

header nav ul li a {
  color: white;
}




/* sobre nós */

main h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

      background-color: rgb(128, 128, 255);
  color: midnightblue; 
  font-weight: bold;
  margin: 3vw;
  padding: 10px;
  border-radius: 5px;
}
section.nos ol h2{
    color: #565072;
    font-size: 1.5rem;
}

section.nos ol li div{
    display: flex;
    justify-content: space-between;
}
section.nos {
  display: flex;
  justify-content: center;  
  gap: 40px;                
  flex-wrap: wrap;          
  padding: 20px;
}

section.nos div {
  text-align: center;      
}

section.nos img {
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}
.semFotos{
  display: none;     /* É SÓ TIRAR ESSA LINHA DE CÓDIGO QUANDO TIVER AS OUTRAS FOTOS*/
}


section.nos h3 {
  background-color: rgb(170, 170, 255);
  color: midnightblue; 
  font-weight: bold;
  margin: 3vw;
  border-radius: 10px;
  padding: 5vw;
}
.redesSociais h1{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.redesSociais div {
  display: flex;
  justify-content: space-evenly;
  margin: 2vw 0 4vw;
  
}

/* footer */
footer p{
  color: white;
}
footer {
    padding: 2vw 0 5vw 2vw;
    background-color:#0C1445;
}